*.tlog
*.obj
*.log
*.opendb
*.suo
*.idb
*.db
*.pdb
*.exe
*.ilk
*.res
*.dll
Source/IDE/bin/
Source/IDE/obj/
Source/packages/
/Source/Engine/Debug/Win32/clines.obj.enc

*.lock

Source/\.vs/
